extends ../../layout

block content
	.row
		a.btn.btn-primary(href="/admin/courses/form") add course
	.row
		.table-responsive
			table.table.table-hover.table-condensed
				caption #{title}
				thead
					tr
						th 名称
						th 操作
				tbody
					each course in courses
						tr(class="course-id-#{course._id}")
							td #{course.name}
							td
								a.btn.btn-success(href="/admin/course/edit/#{course._id}") 编辑
								button.btn.btn-danger.course-del(type="button" data-id="#{course._id}") 删除
			
			div#pager

	script(type="text/javascript").
		$(function() {
			var options = {
				currentPage: "#{page.number + 1}",
				totalPages: "#{page.count}",
				numberOfPages: 5,
				pageUrl: function(type, page, current) {
					return '/admin/courses/'+page;
				}
			}
			$('#pager').bootstrapPaginator(options);
		});
	script(src="/javascripts/admin.js")
	script(src="/components/bootstrap-paginator/src/bootstrap-paginator.js")